.MainContent {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 10% 190px 10% auto;
}

.NavBar {
  grid-column: span 3;
  grid-row: 1;
  padding: 5px;
  color: gray;
}

.Home {
  align-self: flex-start;
}

.LogIn {
  align-self: flex-end;
}

.ColorHeader {
  display: grid;
  grid-column: span 3;
  grid-row: 2;
  background-color: #2ca5bc;
  border: 2px solid #0086b3;
}

.SideBar {
  grid-column: 1;
  grid-row: span 4;
  align-content: center;
  /* background-color: blue; */
}

.GracePic {
  border-radius: 50%;
  border: 5px solid white;
}
.TweetBar {
  grid-column: 2;
  grid-row: 3;
  justify-content: center;
}

.Tweets {
  grid-column: 2;
  grid-row: 4;
  /* box-shadow: 5px; */
}

.InnerBox {
  display: flex;
  height: 500px;
  width: 500px;
  box-shadow: 5px gray;
}
